*{
	font-family: 'Poppins','Ubuntu',sans-serif;
}

.btn-success{
	background-color: #04BF7B;
	border: none;
}

body{
	background-color: #f5f5ff;
}

nav{
	transition: .3s ease-in-out;
	background-color: transparent;
}

.navbar-fixed{
	transition: .3s ease-in-out;
	background-color: #0070f3;
}

.home .jumbotron{
	height: 660px;
	background-image: url('../img/pelabuhan.jpg');
	background-size: cover;
	border-radius: 0px;
	margin-top: 55x;
	background-position: bottom center;
	position: relative;
}

.home .shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
}

.home .container{
	z-index: 5;
	color: white;
}

.tagline{
	margin-top: 120px;
	max-width: 650px;
	font-size: 72px;
	font-family: 'Ubuntu';
}

.tagline span{
	color:#F29F05;
	font-weight: 600;
	font-family: 'Poppins';
	text-transform: capitalize;
}

.send-mail{
	padding: 8px 32px;
	background-color:#04BF7B;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 30px;
	animation: 2s shake ease-in-out;
}

.send-mail:hover{
	background-color:#04BF7B;
	color: white;
}


@keyframes shake{
	0%{transform: rotate(-4.5deg)}
	10%{transform: rotate(4.5deg)}
	20%{transform: rotate(-4.5deg)}
	30%{transform: rotate(4.5deg)}
	40%{transform: rotate(-4.5deg)}
	50%{transform: rotate(4.5deg)}
	60%{transform: rotate(-4.5deg)}
	70%{transform: rotate(4.5deg)}
	80%{transform: rotate(-4.5deg)}
	90%{transform: rotate(4.5deg)}
	100%{transform: rotate(-4.5deg)}
}

.example-produck .container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.product{
	width: 100%;
	height: 380px;
	margin:15px 0px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0,.5);
	padding: 7.5px;
	cursor: pointer;
	position: relative;
	background-color: white;
}

.background-product{
	width: 100%;
	height: 250px;
	border-radius: 0px;
	background-color:#ddd;
	background-size: cover;
}

.text-catalog{
	margin-bottom: 15px;
}

.title{
	font-size: 16.5px;
	margin-top: 7.5px;
	margin-left: 5px;
	font-weight: 600;
	color: #393940;	
	display: block;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
}

.keterangan a{
	font-size: 16px;
	float: right;
	margin-top: 0px;
	margin-right: 5px;
	position: absolute;
	right: 5px;
	bottom: 10px;
}


@media(max-width: 600px){
	nav{
		background-color: #0070f3;
	}

	.home .jumbotron{
		background-position: center;
		background-size: cover;
		height: 680px;
		margin-top: 55px;
		background-position: center;
	}

	.tagline{
		width: 80%;
		font-size: 42px;
	}

	.product{
		height: 430px;
	}

	.background-product{
		height: 300px;
	}

	.title{
		font-size: 18px;
	}

	.keterangan a::after{
		content: " Product";
	}
}