*{
	font-family: 'Poppins','Ubuntu',sans-serif;
	color: #393940;
}

.btn-success{
	background-color: #04BF7B;
	border: none;
}

body{
	background-color: #f5f5ff;
}

nav{
	transition: .3s ease-in-out;
	background-color: transparent;
}

.navbar-fixed{
	transition: .3s ease-in-out;
	background-color: #5E9FF2;
}

.home .jumbotron{
	height: 660px;
	background-image: url('../img/pelabuhan.jpg');
	background-size: cover;
	border-radius: 0px;
	margin-top: 55x;
	background-position: bottom center;
	position: relative;
}

.home .shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
}

.home .container{
	z-index: 5;
	color: white;
}

.tagline{
	margin-top: 140px;
	max-width: 650px;
	font-size: 72px;
	font-family: 'Ubuntu';
	color: white;
}

.tagline span{
	color:#F29F05;
	font-weight: 600;
	font-family: 'Poppins';
	text-transform: capitalize;
}

.send-mail{
	padding: 8px 32px;
	background-color:#04BF7B;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 30px;
	animation: 2s shake ease-in-out;
}

.send-mail:hover{
	background-color:#04BF7B;
	color: white;
}


.about-us{
	width: 100%;
	min-height: 100px;
	padding: 60px 0px;
}

.desc-about{
	margin-top: 30px;
	font-size: 18.5px;
}

.wrap-image{
	width: 100%;
	height: 380px;
	background-color: #9BAEBF;
	border-radius: 8px;
	background-image: url('../img/kopi.jpg');
	background-size: cover;
}

.wrap-image::after{
	content: "";
	width: 50px;
	height: 50px;
	background-color: #F27EB4;
	transform: translate(-150px);
}



@keyframes shake{
	0%{transform: rotate(-4.5deg)}
	10%{transform: rotate(4.5deg)}
	20%{transform: rotate(-4.5deg)}
	30%{transform: rotate(4.5deg)}
	40%{transform: rotate(-4.5deg)}
	50%{transform: rotate(4.5deg)}
	60%{transform: rotate(-4.5deg)}
	70%{transform: rotate(4.5deg)}
	80%{transform: rotate(-4.5deg)}
	90%{transform: rotate(4.5deg)}
	100%{transform: rotate(-4.5deg)}
}

.example-produck .container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.wrap-product{
	width: 100%;
	height: 350px;
	margin: 20px 0px 0px 0px;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
}

.thumbnail-product{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
}


.desc-product{
	width: 100%;
	height: 100%;	
	padding: 10px 0px;
}

.product-title{
	font-size: 32px;
	text-transform: capitalize;
	font-weight: bold;
	width: 100%;
	max-height: 60px;
	overflow: hidden;
	color: #D95555;
	font-family: 'Ubuntu',sans-serif;
}

.detail-product{
	font-size: 18px;
}


.contact{
	margin-top: 60px;
	margin-bottom:30px ;
}

.maps{
	width: 100%;
	height: 400px;
	background-color: #d95555;
}

.maps iframe{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
}


@media(max-width: 600px){
	nav{
		background-color: #5E9FF2;
	}

	nav button{
		outline: none;
	}

	.home .jumbotron{
		background-position: center;
		background-size: cover;
		height: 600px;
		margin-top: 55px;
		background-position: center;
	}

	.tagline{
		width: 100%;
		font-size: 42px;
		margin-top: 150px;
	}

	.product{
		height: 430px;
	}

	.background-product{
		height: 300px;
	}

	.title{
		font-size: 18px;
	}

	.keterangan a::after{
		content: " Product";
	}
}